node_modules/
.next/
.gitea/
.github/
.idea/

dev.Dockerfile
dev.Dockerfile.bak
docker-compose.yml
LICENSE
nextjs-new.tar
prod.Dockerfile
README.md

# All mp4 files, these should just be bind mounted.
public/videos-web/*.mp4

# Taken from Gitignore.
# Audio/video
*.mp3
*.mp4
*.webm
*.m4a
*.mov
*.avi

# Compressed
*.tar
*.tar.gz
*.zip
*.7z
*.rar
#

# https://deployn.de/en/blog/astrojs-docker/
.DS_Store
node_modules
npm-debug.log
dist
.astro
.env*
*.env
.git
.vscode
Dockerfile*
docker-compose*
compose*