# Toggle the test pages
PUBLIC_TEST_PAGES_ENABLED=false

# Set the video host domain here, it needs to end with /videos-web
# If running on another IP, set to http://192.168.1.109:4321 or something else.
PUBLIC_VIDEO_HOST_DOMAIN=http://localhost:4321/videos-web

# For non-root user seutp
USER_UID=1000
USER_GID=1000